<!-- <div class="reader">
    <h2>Search Books</h2>
<table>
  <tr>
  <td>Title</td>
  <td><input type="text" placeholder="Enter title"/></td>
  </tr>
  <tr>
  <td>Author</td>
  <td><input type="text" placeholder="Enter author name"/></td>
  </tr>
  <tr>
  <td>Publisher</td>
  <td><input type="text" placeholder="Enter publisher"/></td>
  </tr>
  <tr>
  <td>Released Date</td>
  <td><input type="text" placeholder="Enter released date"/></td>
  </tr>
</table>
<div class="searchbtn">
 <button (click)="backClick()">Go Back</button>
 <button (click)="searchClick()">Search</button>
</div>
</div> -->
<div>
    <h2>Search Books</h2>
    <input type="text" class="form-control" placeholder="search books">
<!-- <form class="reader" [formGroup]="searchForm"> -->
    <!-- //<button type="button" class="btn btn-primary"> -->
        <i class="fas fa-search"></i>
        <button class="btn btn-primary">
            <i style="font-size: 30px;" class="fas fa-cart-plus"></i>
            <div style="font-size: 10px;" class="badge bg-danger"></div>
        </button>
      <!-- //</button> -->
     <!-- <span class="fas fa-search search-icon"></span> -->
        <!-- <mat-form-field class="example-full-width">
        <span matPrefix> </span>
        <input type="tel" matInput placeholder="Search" name= "search">
        <button matSuffix mat-button><mat-icon >search</mat-icon></button>
        </mat-form-field> -->
<!-- <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput placeholder="Title" formControlName="title">
  </mat-form-field> -->
  <!-- <mat-form-field appearance="fill">
    <mat-label>Author</mat-label>
    <input matInput placeholder="Author" formControlName="author">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Publisher</mat-label>
    <input matInput placeholder="Publisher" formControlName="publisher">
  </mat-form-field> -->
  <!-- <mat-form-field appearance="fill">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Start date">
      <input matEndDate placeholder="End date">
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field> -->
<!-- </form> -->
</div>
<!-- <span class="fas fa-search search-icon"></span> -->

 <!-- <div class="example-button-row"> 
    <button mat-raised-button color="primary" (click)="searchBook($event)">Search</button> 
</div> -->
<div class="container">
    <div class="row">
        <ng-container *ngFor="let item of bookList">
            <div class="card-col-md-3">
                <img src="" alt="">
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.title}}</h5>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.content}}</p>
                <p><strong>{{item.price}}</strong></p>
                <button class="btn btn-primary">Add to cart</button>
            </div>
        </ng-container>
    </div>
</div>