<div class="reader">
    <h2>Search Books</h2>
<table>
  <tr>
  <td>Title</td>
  <td><input type="text" placeholder="Enter title"/></td>
  </tr>
  <tr>
  <td>Author</td>
  <td><input type="text" placeholder="Enter author name"/></td>
  </tr>
  <tr>
  <td>Publisher</td>
  <td><input type="text" placeholder="Enter publisher"/></td>
  </tr>
  <tr>
  <td>Released Date</td>
  <td><input type="text" placeholder="Enter released date"/></td>
  </tr>
</table>
<div class="btn">
 <button (click)="backClick()">Go Back</button>
 <button (click)="searchClick()">Search</button>
</div>
</div>

