<table class="table">
    <th colspan="4">Search Books</th>
  <tr>
  <td>Title</td>
  <td><input type="text" placeholder="Enter title"/></td>
  </tr>
  <tr>
  <td>Author</td>
  <td><input type="text" placeholder="Enter author name"/></td>
  </tr>
  <tr>
  <td>Publisher</td>
  <td><input type="text" placeholder="Enter publisher"/></td>
  </tr>
  <tr>
  <td>Released Date</td>
  <td><input type="text" placeholder="Enter released date"/></td>
  </tr>
  <tr><td></td>
  <td><input type="button" value="Search"/></td>
  </tr>
  </table>
