.reader{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-left:450px;
    margin-right: 400px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color:bisque;
    height:70vh;
}
.searchbtn{
    display: flex;
    justify-content: space-between;
    width: 30%;
}