<!-- <div>
  <mat-sidenav-container>
     <mat-sidenav mode="side" opened>
       <button mat-button class="menu-button">
         <span>Search Books</span>
       </button>
       <button mat-button class="menu-button">
         <span>View Orders</span>
       </button>
     </mat-sidenav>
     <mat-sidenav-content>
       <div class="content">
         Search Books
       </div>
     </mat-sidenav-content>
   </mat-sidenav-container>  
 </div> -->
<div [ngStyle]="{'background-image': getUrl()}">
  <div>
    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu" style="background-color:cadetblue;">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="showViewOrder()">
          <span>View Orders</span>
        </button>
        <button mat-menu-item disabled>
          <span>Invoice</span>
        </button>
      </mat-menu> 
    </div>
    <div *ngIf="showSearchDetails">
    <h2>Search Books</h2>
    <!-- <input type="text" class="form-control" placeholder="search books" (click)="Search()"/> -->
<form class="reader" [formGroup]="searchForm">
    <!-- //<button type="button" class="btn btn-primary"> -->
        <!-- <i id="searchBook" class="fas fa-search"></i> -->
        <button class="btn" id="cart" (click)="navigateToPurchase()">
            <i class="fas fa-cart-plus"></i>
            <div style="font-size: 10px;" class="badge bg-danger">{{totalItem}}</div>
        </button>

Title<input [(ngModel)]="ReaderModel.Title" formControlName="title" type="text" />
Category <input [(ngModel)]="ReaderModel.Category" formControlName="category" type="text" />
Price <input [(ngModel)]="ReaderModel.Price" formControlName="price" type="number" />
Publisher <input [(ngModel)]="ReaderModel.Publisher" formControlName="publisher" type="text" />
<br/>
<input type="button" value="Search" (click)="searchAllBooks()"/>
      <!-- //</button> -->
     <!-- <span class="fas fa-search search-icon"></span> -->
       <!-- <mat-form-field class="example-full-width">
        <span matPrefix> </span>
        <input type="tel" matInput placeholder="Search" name= "search">
        <button matSuffix mat-button><mat-icon >search</mat-icon></button>
        </mat-form-field> -->
<!-- <mat-form-field appearance="fill">
    <mat-label>Title</mat-label>
    <input matInput placeholder="Title"  formControlName="title" name="title">
  </mat-form-field>
  <mat-form-field appearance="fill"> 
    <mat-label>Category</mat-label>
    <mat-select placeholder="Category"   formControlName="category" name="category">
        <mat-option value="Fantasy">Fantasy</mat-option>
        <mat-option value="Spirituality">Spirituality</mat-option>
        <mat-option value="Fiction">Fiction</mat-option>
        <mat-option value="Science Fiction">Science Fiction</mat-option>
        <mat-option value="Thriller">Thriller</mat-option>
    </mat-select>
</mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Price</mat-label>
    <input matInput placeholder="Price" formControlName="price" name="price">
  </mat-form-field>
  <mat-form-field appearance="fill">
    <mat-label>Publisher</mat-label>
    <input matInput placeholder="Publisher"  formControlName="publisher" name="publisher">
  </mat-form-field>
   <-- <mat-form-field appearance="fill">
    <mat-label>Enter a date range</mat-label>
    <mat-date-range-input [rangePicker]="picker">
      <input matStartDate placeholder="Start date">
      <input matEndDate placeholder="End date">
    </mat-date-range-input>
    <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-date-range-picker #picker></mat-date-range-picker>
  </mat-form-field>  -->
  <!-- <div mat-dialog-action [align]="'center'">
    <button style="margin-left: 8px;" mat-raised-button color="primary" (click)="searchAllBooks()">Search</button>
 </div>  -->
 </form>
 
<!-- <span class="fas fa-search search-icon"></span> -->

 <!-- <div class="example-button-row"> 
    <button mat-raised-button color="primary" (click)="searchBook($event)">Search</button> 
</div> -->
<div class="example-button-row">
<ng-container>
<app-grid-ui [grid-columns]="[{'colName':'id'},{'colName':'image'},{'colName':'title'},{'colName':'category'},{'colName':'price'},{'colName':'publisher'},{'colName':'content'},{'colName':'Action'}]"
[grid-data]="ReaderModels" (grid-selected)="EditSearch($event)" (grid-deleted)="DeleteSearch($event)" (grid-buyBook)="BuyBook($event)"
></app-grid-ui>
</ng-container>
<!-- [read]="['Title: ','Category: ','Price ','Publisher: ',''Content:']" -->
<!-- <div class="container">
    <div class="row">
        <ng-container *ngFor="let item of ReaderModels">
            <div class="card col-md-3">
                <img src="{{item.image}}" alt="">
                <h5 style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.Title}}</h5>
                <p style="white-space: nowrap;overflow: hidden;text-overflow: ellipsis;max-width: 100ch;">{{item.Publisher}}</p>
                <p><strong>{{item.Price}}</strong></p>
                <div>
                <button class="btn" (click)="addToCart(item)">Add to cart</button>&nbsp;
                <button class="btn">Buy now</button>
               </div>
            </div>
        </ng-container>
    </div> -->
</div>
</div>
</div>
<ng-template #callAPIDialog>
<mat-dialog-content>
<div class="wrapper" *ngIf="readerLogin">
  <div class="readerLogin">
  <form class="readerLogin" [formGroup]="readerLoginForm">
      <input type="text" placeholder="Username" class="input" [(ngModel)]="ReaderLoginModel.userName" formControlName="username">
      <span class="text-danger" *ngIf="readerLoginForm.controls['username'].dirty && readerLoginForm.hasError('required','username')">*Username is required</span>
      <input type="email" placeholder="Email" class="input" [(ngModel)]="ReaderLoginModel.emailId" formControlName="emailId"> 
      <span class="text-danger" *ngIf="readerLoginForm.controls['emailId'].dirty && readerLoginForm.hasError('required','emailId')">*Email Address is required</span>
      <div class="readerLoginbtn">
          <button (click)="orderDetails($event)" [disabled]="readerLoginForm.invalid">Place your Order</button>
      </div>
  </form>
  </div>
  </div>
  <div class="orderDetails" *ngIf="showOrder">
    <div class="order">
    <form class="orderForm" [formGroup]="orderForm">
      <h2>Payment details</h2>
      Book Title<input [(ngModel)]="ReaderModel.Title" formControlName="title" type="text" [value]="selectedTitle"/>
      Price<input [(ngModel)]="ReaderModel.Price" formControlName="price" type="number" [value]="selectedPrice"/>
      Quantity<input [(ngModel)]="OrderModel.quantity" formControlName="quantity" type="number" (keyup)="updateTotal($event)"/>
      <span class="text-danger" *ngIf="orderForm.controls['quantity'].dirty && orderForm.hasError('required','quantity')">*Please enter the Quantity</span>
      Total<input [(ngModel)]="OrderModel.total" formControlName="total" type="number" [value]="selectedTotal"/>
      Payment type<select  [(ngModel)]="OrderModel.paymentType" formControlName="paymentType" class="dropdown" (click)="onOptionsSelected($event)">   
        <option value="" disabled selected>Select Payment Type</option>  
        <option value="Debit Card">Debit Card</option>  
        <option value="Credit Card">Credit Card</option>  
    </select>
        <div class="submitBtn">
            <button (click)="submit()" [disabled]="orderForm.invalid">Submit</button>
            <button (click)="close()">Close</button>
        </div>
    </form>
    </div>
    </div>
  </mat-dialog-content>
</ng-template>
<!-- <div *ngIf="showViewOrder" class="viewOrdersBtn">
  <button (click)="viewOrders()">View Orders</button>
 </div> -->
 <div class="example-button-row" *ngIf="showOrderDetails">
  <ng-container>
  <app-order [order-columns]="[{'colName':'bookId'},{'colName':'title'},{'colName':'price'},{'colName':'quantity'},{'colName':'total'},{'colName':'paymentMethod'}]"
  [order-data]="OrderModels"
  ></app-order>
  </ng-container>
</div>

 