<div class="wrapper">
<div class="login">
<form [formGroup]="login">
    <h2>Login</h2>
    <input type="text" placeholder="Username" class="input" formControlName="username" [(ngModel)]="UserDataModel.userName">
    <input type="password" placeholder="Password" class="input" formControlName="password" [(ngModel)]="UserDataModel.password">
    <div class="loginbtn">
        <button (click)="loginSubmit()" [disabled]="login.invalid">Login</button>
        <button (click)="goToSignup()">Sign Up</button>
    </div>
</form>
</div>
</div>
<a class="btn btn-primary" id="btnErrorMsg" style="display: none;" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Open first modal</a>
