<table align-text="center">
    <tr>
        <th *ngFor="let col of gridColumns">
            {{col.colName}}
        </th>
    </tr>
        <tr *ngFor="let colObj of gridData">
            <td *ngFor="let col of gridColumns">
             {{colObj[col.colName]}}
             </td>
             <!-- <td><button class="btn" (click)="addToCart(colObj)">Add to cart</button></td>
             <td><button class="btn">Buy now</button></td> -->
         </tr>
</table>
<div class="modal fade" id="exampleModalToggle" aria-labelledby="exampleModalToggleLabel" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" style="color: red;" id="exampleModalToggleLabel">Error </h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
         
        </div>
      </div>
    </div>
  </div>
  <a class="btn btn-primary" id="btnErrorMsg" style="display: none;" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Open first modal</a>
